{% extends "base.html" %}

{% block styling %} 
<link rel="stylesheet" href="{{get_url(path='player.css', trailing_slash=false) }}"> 

<!-- All stylings need in the html file -->
<style>
   
.img-slideshow{
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        background-image: url("{{ get_url(path=page.extra.bg_img_1) }}");
    }
    33%{
        background-image: url("{{ get_url(path=page.extra.bg_img_2) }}");
    }
    66%{
        background-image: url("{{ get_url(path=page.extra.bg_img_3) }}");
    }
}

</style>

{% endblock %}


<!-- Removed Navbar Here -->
{% block navbar %}

{% endblock %}


{% block content %}

<div class="container-fluid p-0">

    <!-- Background Image Slideshow -->
    <div class="container-fluid p-0 img-slideshow">
        <!-- Added navbar here -->
        <nav id="navbar" class="navbar navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Le World After</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ get_url(path="players/") }}">Players</a></li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Server
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{{ get_url(path="player-bases/") }}">Bases</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page-1 in the background slideshow -->
        <div class="container position-relative page-1-section">
            <div class = "container p-0 position-absolute top-0 start-0 img-container">
                <div class = "card img-profile-pic-frame">
                    <img src="{{ get_url(path=page.extra.profile_pic) }}" class="img-profile-pic" alt="{{ page.extra.name }}">
                </div>
            </div>
            <div class = "container p-0 position-absolute bottom-0 end-0 player-title-container">
                <div class = "card player-title-card">
                    <div class="card-body">
                        <h1 class="card-title text-center player-title">{{ page.extra.name }}</h1>
                        <p class="card-text text-end player-doj">
                            Joined the server on:<br>
                            {{ page.extra.doj }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Carousel -->
    <div class="container-fluid bg-dark page-2-section">
        <div id="carouselIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container d-flex justify-content-center card-section">
                        <div class = "card player-description-card card-1">
                            <div class="card-body overflow-auto">
                                <h1 class="card-title text-start player-title">{{ page.extra.name }}</h1>
                                <div class="card-text text-start player-description">
                                    {{ page.extra.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container d-flex justify-content-center card-section">
                        <div class = "card player-description-card card-2">
                            <div class="card-body overflow-auto">
                                <h1 class="card-title text-start player-title">Hobbies</h1>
                                <div class="card-text text-start player-description">
                                    <ul>
                                        <li>{{ page.extra.hobby_1 }}</li>
                                        <li>{{ page.extra.hobby_2 }}</li>
                                        <li>{{ page.extra.hobby_3 }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container d-flex justify-content-center card-section">
                        <div class = "card player-description-card card-3">
                            <div class="card-body overflow-auto">
                                <h1 class="card-title text-start player-title">Competitions Won</h1>
                                <div class="card-text text-start player-description">
                                    <ul>
                                        <li>{{ page.extra.competition_won_1 }}</li>
                                        <li>{{ page.extra.competition_won_2 }}</li>
                                        <li>{{ page.extra.competition_won_3 }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Builds Page (Bases and Shops) -->
    <div class="container-fluid p-0 page-3-section">
        <div class="container position-relative build-container">

            <!-- Bases Card -->
            <div class = "card position-absolute top-0 start-0 bases-card">
                <div class="card-body">
                    <h1 class="card-title text-start bases-title">Bases</h1>
                    <!-- Base Carousel -->
                    <div class="container base-carousel-section">
                        <div id="carouselBasesControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% if page.extra.base_name_1 %}
                                <div id = "base-item-1" class="carousel-item active base-carousel-item">
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{ page.extra.base_name_1 }}</a>
                                </div>
                                {% endif %}

                                {% if page.extra.base_name_2 %}
                                <div id = "base-item-2" class="carousel-item base-carousel-item">
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{ page.extra.base_name_2 }}</a>
                                </div>
                                {% endif %}

                                {% if page.extra.base_name_3 %}
                                <div id = "base-item-3" class="carousel-item base-carousel-item ">
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{ page.extra.base_name_3 }}</a>
                                </div>
                                {% endif %}

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasesControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselBasesControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shops Card -->
            <div class = "card position-absolute bottom-0 end-0 shops-card">
                <div class="card-body">
                    <h1 class="card-title text-start shops-title">Shops</h1>
                    <!-- Shop Carousel -->
                    <div class="container shop-carousel-section">
                        <div id="carouselShopsControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% if page.extra.shop_name_1 %}
                                <div id = "shop-item-1" class="carousel-item active shop-carousel-item">
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{ page.extra.shop_name_1 }}</a>
                                </div>
                                {% endif %}

                                {% if page.extra.shop_name_2 %}
                                <div id = "shop-item-2" class="carousel-item shop-carousel-item">
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{ page.extra.shop_name_2 }}</a>
                                </div>
                                {% endif %}

                                {% if page.extra.shop_name_2 %}
                                <div id = "shop-item-3" class="carousel-item shop-carousel-item">
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{ page.extra.shop_name_2 }}</a>
                                </div>
                                {% endif %}

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselShopsControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselShopsControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Skin Page -->
    <div class="container-fluid p-0 d-flex bg-dark page-5-section">

        <!-- Skin Edit Sidebar -->
        <div class="overflow-auto skinOptionsSideBar" id="skinSideBar">
            <div class="container skinOptions">
                <h1 class="fs-2">Skin Edit</h1>
                <div class = "container row toggle-container">
                    <h5 class="fs-5">Top and Body</h5>
                    <hr/>
                    <div class="form-check form-switch">
                        <input class="form-check-input partToggle" type="checkbox" id="hat" checked>
                        <label class="form-check-label" for="hat">Hat</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input partToggle" type="checkbox" id="jacket" checked>
                        <label class="form-check-label" for="jacket">Jacket</label>
                    </div>
                </div>
                <div class="container row toggle-container">
                    <h5 class="fs-5">Arms</h5>
                    <hr/>
                    <div class="form-check form-switch">
                    <input class="form-check-input partToggle" type="checkbox" id="leftSleeve" checked>
                    <label class="form-check-label" for="leftSleeve">Left Sleeve</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input partToggle" type="checkbox" id="rightSleeve" checked>
                        <label class="form-check-label" for="rightSleeve">Right Sleeve</label>
                    </div>
                </div>
                <div class="container row toggle-container">
                    <h5 class="fs-5">Legs</h5>
                    <hr/>
                    <div class="form-check form-switch">
                        <input class="form-check-input partToggle" type="checkbox" id="leftTrousers" checked>
                        <label class="form-check-label" for="leftTrousers">Left Trousers</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input partToggle" type="checkbox" id="rightTrousers" checked>
                        <label class="form-check-label" for="rightTrousers">Right Trousers</label>
                    </div>
                </div>
                <div class="container row toggle-container">
                    <h5 class="fs-5">Cape</h5>
                    <hr/>
                    <div class="form-check form-switch">
                        <input class="form-check-input partToggle" type="checkbox" id="cape" checked>
                        <label class="form-check-label" for="cape">Cape</label>
                    </div>
                </div>
                <div class="container row toggle-container">
                    <h5 class="fs-5">Size and Motion</h5>
                    <hr/>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="animate" checked>
                        <label class="form-check-label" for="animate">Animate</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="slim">
                        <label class="form-check-label" for="slim">Slim</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Skin Page -->
        <div class="container-fluid p-0 overflow-auto skinMainPage">
            <div class="container fs-1 text-center ">Skins</div>

            <div class="container-fluid">
                <button type="button" class="btn btn-light skin-edit-btn" id="skinEditBtn">Edit Skin</button>
            </div>

            <div id="carouselSkins" class="carousel slide">
                <div class="carousel-indicators">
                    {% if page.extra.skin_img_1 %}
                    <button type="button" data-bs-target="#carouselSkins" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    {% endif %}

                    {% if page.extra.skin_img_2 %}
                    <button type="button" data-bs-target="#carouselSkins" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    {% endif %}

                    {% if page.extra.skin_img_3 %}
                    <button type="button" data-bs-target="#carouselSkins" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    {% endif %}
                </div>
                <div class="carousel-inner" id="skinCarouselInner" >
                    {% if page.extra.skin_img_1 %}
                    <div class="carousel-item active">
                        <div id="skin-item-1" class="container d-flex justify-content-center align-items-center skin-item">
                            
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ page.extra.skin_name_1 }}</h5>
                        </div>
                    </div>
                    {% endif %}

                    {% if page.extra.skin_img_2 %}
                    <div class="carousel-item">
                        <div id="skin-item-2" class="container d-flex justify-content-center skin-item">

                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ page.extra.skin_name_2 }}</h5>
                        </div>
                    </div>
                    {% endif %}

                    {% if page.extra.skin_img_3 %}
                    <div class="carousel-item">
                        <div id="skin-item-3" class="container d-flex justify-content-center skin-item">

                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ page.extra.skin_name_3 }}</h5>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSkins" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselSkins" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="container text-center">
                <button type="button" class="btn btn-primary" id="downloadBtn">Download</button>
            </div>

        </div>

        

    </div>

</div>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.min.js" integrity="sha256-NGC9JEuTWN4GhTj091wctgjzftr+8WNDmw0H8J5YPYE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/InventivetalentDev/MineRender@1.4.6/dist/skin.min.js"></script>

<!-- Skin Script -->
<script>
    function renderSkin(elemItem, imgUrl){
        var skinRender = new SkinRender({
            // autoResize: true,
            render: {
                taa: true
            },
            controls: {
                zoom: false,
                pan: false
            },
            canvas: {
                width: 500,
                height: 300
            },
            pauseHidden: false,
            makeNonTransparentOpaque: false
        }, elemItem);

        skinRender.render({
            url: imgUrl,
            capeUrl: '{{ get_url(path="img/Migrator_Cape.png") }}'
        });

        $("#slim").on("change", function() {
            skinRender.clearScene();

            var slim =  $("#slim").is(":checked");
            var options = {};

            options.url = imgUrl;
            options.capeUrl = '{{ get_url(path="img/Migrator_Cape.png") }}';
            options.slim = slim;
            
            skinRender.render(options, () => {
                const toggleParts = $(".partToggle");

                for(ind = 0; ind < toggleParts.length; ind++){
                    var togglePart = toggleParts[ind];
                    // console.log("Toggle Parts: ",$(togglePart).attr("id"));
                    // console.log("Toggle Status: ", $(togglePart).is(":checked"));
                    // console.log("Model Info: ", skinRender.getModelByName($(togglePart).attr("id")));
                    skinRender.getModelByName($(togglePart).attr("id")).visible = $(togglePart).is(":checked");
                }
            });
        });

        $(".partToggle").on("change", function () {
            console.log("Toggling Part: ", $(this).attr("id"));
            skinRender.getModelByName($(this).attr("id")).visible = $(this).is(":checked");
            console.log("Model Info: ", skinRender.getModelByName($(this).attr("id")));
        });

        var animate = true;
        $("#animate").on("change", function () {
            animate = $(this).is(":checked");
        });

        var startTime = Date.now();
        elemItem.addEventListener("skinRender", function (e) {
            if (animate) {
                var t = (Date.now() - startTime) / 1000;
                e.detail.playerModel.children[2].rotation.x = Math.sin(t * 5) / 2;
                e.detail.playerModel.children[3].rotation.x = -Math.sin(t * 5) / 2;
                e.detail.playerModel.children[4].rotation.x = Math.sin(t * 5) / 2;
                e.detail.playerModel.children[5].rotation.x = -Math.sin(t * 5) / 2;
            }
        })
    }

    const skinItem1 = document.getElementById("skin-item-1");
    const skinItem2 = document.getElementById("skin-item-2");
    const skinItem3 = document.getElementById("skin-item-3");

    // const pageSection5 = document.getElementsByClassName("page-5-section")[0];

    renderSkin(skinItem1, '{{ get_url(path=page.extra.skin_img_1) }}');
    renderSkin(skinItem2, '{{ get_url(path=page.extra.skin_img_2) }}');
    renderSkin(skinItem3, '{{ get_url(path=page.extra.skin_img_3) }}');
    
</script>

<!-- Background Script -->
<script>
    function changeBackgroundWithHover(elemItem, imgUrl){
        if(!elemItem){
            return;
        }

        // imgUrl = "page.extra." + buildType + "_img_" + imgNo;

        elemItem.addEventListener('mouseenter', () => {
            pageSection3.style.backgroundImage = imgUrl;
            console.log("Hello");
        });

        elemItem.addEventListener('mouseleave', () => {
            pageSection3.style.backgroundImage = "url('{{ get_url(path='img/Builds_Page_cover.webp') }}')";
            console.log("Exit");
        });
    }

    const baseItem1 = document.getElementById("base-item-1");
    const baseItem2 = document.getElementById("base-item-2");
    const baseItem3 = document.getElementById("base-item-3");

    const shopItem1 = document.getElementById("shop-item-1");
    const shopItem2 = document.getElementById("shop-item-2");
    const shopItem3 = document.getElementById("shop-item-3");

    const pageSection3 = document.getElementsByClassName("page-3-section")[0];

    changeBackgroundWithHover(baseItem1, "url('{{ get_url(path=page.extra.base_img_1) }}')");

    changeBackgroundWithHover(shopItem1, "url('{{ get_url(path=page.extra.shop_img_1) }}')");
</script>

<!-- Download Script -->
<script>
    var downloadBtn = document.getElementById("downloadBtn");
    var skinCarouselInner = document.getElementById("skinCarouselInner");

    downloadBtn.addEventListener("click", () => {
        let skinElem = skinCarouselInner.getElementsByClassName("active")[0].getElementsByClassName("skin-item")[0];
        let skinId = skinElem.id;

        let imgUrl = null;

        if(skinId == "skin-item-1"){
            imgUrl = '{{ get_url(path=page.extra.skin_img_1) }}';
        }
        else if(skinId == "skin-item-2"){
            imgUrl = '{{ get_url(path=page.extra.skin_img_2) }}';
        }
        else if(skinId == "skin-item-3"){
            imgUrl = '{{ get_url(path=page.extra.skin_img_3) }}';
        }
        
        if(imgUrl != null){
            let fileName = getFileName(imgUrl);

            // console.log("Skin Element: ", skinElem);
            // console.log("Skin Id: ", skinId);
            // console.log("Image URL: ", imgUrl);
            // console.log("File Name: ", fileName);

            saveAs(imgUrl, fileName);
        }
        
    });
</script>

<script src= {{ get_url(path="js/player.js") }}></script>
<script src= {{ get_url(path="js/FileSaver.js") }}></script>

{% endblock %}