$minecraft-inventory-focus-color: #c6c6c6;
$minecraft-inventory-not-focus-color: #8b8b8b;
$minecraft-inventory-light-color: #ffffff;
$minecraft-inventory-shadow-color: #555555;
$minecraft-inventory-outline-color: #000000;
$minecraft-inventory-font-color: #3f3f3f;

$minecraft-advancement-complete-banner-color: #b98f2c;
$minecraft-advancement-complete-light-color: #dba213;
$minecraft-advancement-complete-shadow-color: #493606;

$minecraft-advancement-incomplete-banner-color: #036a96;
$minecraft-advancement-incomplete-light-color: #0489c1;
$minecraft-advancement-incomplete-shadow-color: #012e40;

$minecraft-advancement-body-color: #212121;
$minecraft-advancement-font-color: #54fc54;
$minecraft-advancement-challenge-font-color: #a800a8;

$minecraft-advancement-frame-size: 90px;
$minecraft-advancement-frame-size-small: 70px;
$minecraft-advancement-icon-size: 50px;
$minecraft-advancement-icon-size-small: 30px;

// @media (max-width: 767.98px) {
//     .advancements .node__element {
//         width: $minecraft-advancement-frame-size-small  !important;
//         height: $minecraft-advancement-frame-size-small  !important;
//     }

//     .advancements .advancement-frame {
//         width: $minecraft-advancement-frame-size-small  !important;
//         height: $minecraft-advancement-frame-size-small  !important;
//     }

//     .advancements .advancement-icon {
//         width: $minecraft-advancement-icon-size-small  !important;
//         height: $minecraft-advancement-icon-size-small  !important;
//     }

//     .advancements .advancement-detailed {
//         font-size: 15px;
//     }
// }

.advancements {
    font-family: Minecraft;
    background: #363c49;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 20px auto;
}

.advancements input[type="radio"] {
    display: none;
}

.advancements label {
    padding: 10px;
    margin-right: 20px;
    height: 75px;
    margin-bottom: -8px;
    background: $minecraft-inventory-not-focus-color;
    border: 2px solid $minecraft-inventory-outline-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0px;
    box-shadow: inset 5px 5px $minecraft-inventory-light-color, inset -5px 0px $minecraft-inventory-shadow-color;
}

.advancements label img {
    width: 50px;
}

.advancements .tab {
    width: 100%;
    padding: 20px;
    color: $minecraft-inventory-font-color;
    background: $minecraft-inventory-focus-color;
    border: 2px solid $minecraft-inventory-outline-color;
    border-radius: 10px;
    box-shadow: inset 5px 5px $minecraft-inventory-light-color, inset -5px -5px $minecraft-inventory-shadow-color;
    display: none;
    order: 1;
}

.advancements input[type="radio"]:checked+label+.tab {
    display: block;
}

.advancements input[type="radio"]:checked+label {
    background: $minecraft-inventory-focus-color;
    z-index: 10;
}

.advancements #tabNether+label+.tab {
    border-top-left-radius: 0px;
}

.advancements .advancementSection {
    height: 60vh;
    overflow: auto;
    padding: 0px;
    align-items: center;
    border: 3px solid;
    border-left-color: $minecraft-inventory-outline-color;
    border-top-color: $minecraft-inventory-outline-color;
    border-right-color: grey;
    border-bottom-color: grey;
    box-shadow: inset 1px 1px 25px $minecraft-inventory-outline-color;
}

.advancements #netherSection {
    background-image: url("../img/Netherrack_Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.advancements #adventureSection {
    background-image: url("../img/Sand_Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.advancements #endSection {
    background-image: url("../img/End_Stone_Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.advancements #husbandrySection {
    background-image: url("../img/Dirt_Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.advancements #minecraftSection {
    background-image: url("../img/Stone_Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.advancements .node--root {
    background: blue;
    width: fit-content;
    // height: auto;
    padding: 25px;
    margin: auto;
    // position: relative;
}

.advancements .node {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.advancements .node__element {
    // background: black;
    color: white;
    margin: 10px 0px;
    width: $minecraft-advancement-frame-size;
    height: $minecraft-advancement-frame-size;
}

.advancements .node__line__before {
    background: white;
    width: 25px;
    min-width: 10px;
    height: 5px;
}

.advancements .node__line {
    background: white;
    // box-shadow: 0px 3px black, 0px -3px black;
    width: 25px;
    min-width: 10px;
    height: 5px;
}

.advancements .node__children__line {
    background: white;
    position: relative;
    // box-shadow: 3px 0px black, -3px 0px black;
    width: 5px;
    min-width: 5px;
    // height: 100px;
    // Height = (no of children * 45px[Half of Icon Height]) + ((no of children-1) * 20px[Top Padding + Bottom Padding]) + 10px(Hr Line Height) 
}

.advancements .node__children {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.advancements .advancement-frame {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: $minecraft-advancement-frame-size;
    height: $minecraft-advancement-frame-size;
}

.advancements .advancement-icon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: $minecraft-advancement-icon-size;
    height: $minecraft-advancement-icon-size;
}

.advancements .advancement-frame:hover {
    z-index: 100;
}

.advancements .advancement-frame:hover+.advancement-detailed {
    display: block;
    z-index: 50;
}

.advancements .adnvacement-frame:hover * {
    z-index: -1;
}

.advancements .advancement-detailed {
    display: none;
    position: relative;
    background: $minecraft-advancement-body-color;
    font-size: 30px;
    padding: 0px;
    width: fit-content;
    // height: 100px;
    bottom: 80px;
    right: 10px;
    outline: 2px solid $minecraft-inventory-outline-color;
    border-radius: 10px;
    box-shadow: inset 2px 2px $minecraft-inventory-shadow-color, inset -2px -2px $minecraft-inventory-shadow-color;
}

.advancements .advancement-banner {
    padding: 10px;
    position: relative;
    padding-left: $minecraft-advancement-frame-size + 15px;
    text-shadow: 4px 4px $minecraft-inventory-outline-color;
    background-color: $minecraft-advancement-incomplete-banner-color;
    box-shadow: inset 2px 2px $minecraft-advancement-incomplete-light-color, inset -2px -2px $minecraft-advancement-incomplete-shadow-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    white-space: nowrap;
}

.advancements .advancement-complete-banner {
    background-color: $minecraft-advancement-complete-banner-color;
    box-shadow: inset 2px 2px $minecraft-advancement-complete-light-color, inset -2px -2px $minecraft-advancement-complete-shadow-color;
}

.advancements .advancement-body {
    padding: 10px;
    padding-left: 20px;
    color: $minecraft-advancement-font-color;
    font-size: 25px;
}

.advancements .advancement-challenge-body {
    color: $minecraft-advancement-challenge-font-color;
}


// Frames
.advancements .advancement-complete-frame {
    background-image: url("../img/advancement-icons/Advancement_Complete.webp");
}

.advancements .advancement-incomplete-frame {
    background-image: url("../img/advancement-icons/Advancement_Incomplete.webp");
}

.advancements .goal-complete-frame {
    background-image: url("../img/advancement-icons/Goal_Complete.webp");
}

.advancements .goal-incomplete-frame {
    background-image: url("../img/advancement-icons/Goal_Incomplete.webp");
}

.advancements .challenge-complete-frame {
    background-image: url("../img/advancement-icons/Challenge_Complete.webp");
}

.advancements .challenge-incomplete-frame {
    background-image: url("../img/advancement-icons/Challenge_Incomplete.webp");
}


// Nether Icons
.advancements .nether-advancement-icon {
    background-image: url("../img/advancement-icons/Red_Nether_Bricks.webp");
}

.advancements .return_to_sender-advancement-icon {
    background-image: url("../img/advancement-icons/Fireball.webp");
}

.advancements .those_were_the_days-advancement-icon {
    background-image: url("../img/advancement-icons/Polished_Blackstone_Bricks.webp");
}

.advancements .hidden_in_the_depths-advancement-icon {
    background-image: url("../img/advancement-icons/Ancient_Debris.webp");
}

.advancements .subspace_bubble-advancement-icon {
    background-image: url("../img/advancement-icons/Empty_Map.webp");
}

.advancements .a_terrible_fortress-advancement-icon {
    background-image: url("../img/advancement-icons/Nether_Bricks.webp");
}

.advancements .who_is_cutting_onions-advancement-icon {
    background-image: url("../img/advancement-icons/Crying_Obsidian.webp");
}

.advancements .oh_shiny-advancement-icon {
    background-image: url("../img/advancement-icons/Gold_Ingot.webp");
}

.advancements .this_boat_has_legs-advancement-icon {
    background-image: url("../img/advancement-icons/Warped_Fungus_On_A_Stick.webp");
}

.advancements .uneasy_alliance-advancement-icon {
    background-image: url("../img/advancement-icons/Ghast_Tear.webp");
}

.advancements .war_pigs-advancement-icon {
    background-image: url("../img/advancement-icons/Chest.webp");
}

.advancements .country_lode_take_me_home-advancement-icon {
    background-image: url("../img/advancement-icons/Lodestone.webp");
}

.advancements .cover_me_in_debris-advancement-icon {
    background-image: url("../img/advancement-icons/Netherite_Chestplate.webp");
}

.advancements .spooky_scary_skeleton-advancement-icon {
    background-image: url("../img/advancement-icons/Wither_Skeleton_Skull.webp");
}

.advancements .into_fire-advancement-icon {
    background-image: url("../img/advancement-icons/Blaze_Rod.webp");
}

.advancements .not_quite_nine_lives-advancement-icon {
    background-image: url("../img/advancement-icons/Respawn_Anchor.webp");
}

.advancements .feels_like_home-advancement-icon {
    background-image: url("../img/advancement-icons/Warped_Fungus_On_A_Stick.webp");
}

.advancements .hot_tourist_destinations-advancement-icon {
    background-image: url("../img/advancement-icons/Netherite_Boots.webp");
}

.advancements .withering_heights-advancement-icon {
    background-image: url("../img/advancement-icons/Nether_Star.webp");
}

.advancements .local_brewery-advancement-icon {
    background-image: url("../img/advancement-icons/Uncraftable_Potion.webp");
}

.advancements .bring_home_the_beacon-advancement-icon {
    background-image: url("../img/advancement-icons/Beacon.webp");
}

.advancements .a_furious_cocktail-advancement-icon {
    background-image: url("../img/advancement-icons/Milk_Bucket.webp");
}

.advancements .beaconator-advancement-icon {
    background-image: url("../img/advancement-icons/Beacon.webp");
}

.advancements .how_did_we_get_here-advancement-icon {
    background-image: url("../img/advancement-icons/Bucket.webp");
}

//Adventure Icons
.advancements .adventure-advancement-icon {
    background-image: url("../img/advancement-icons/Empty_Map.webp");
}

.advancements .is_it_a_bird-advancement-icon {
    background-image: url("../img/advancement-icons/Spyglass.webp");
}

.advancements .is_it_a_balloon-advancement-icon {
    background-image: url("../img/advancement-icons/Spyglass.webp");
}

.advancements .monster_hunter-advancement-icon {
    background-image: url("../img/advancement-icons/Iron_Sword.webp");
}

.advancements .a_throwaway_joke-advancement-icon {
    background-image: url("../img/advancement-icons/Trident.webp");
}

.advancements .it_spreads-advancement-icon {
    background-image: url("../img/advancement-icons/Sculk_Catalyst.webp");
}

.advancements .take_aim-advancement-icon {
    background-image: url("../img/advancement-icons/Bow.webp");
}

.advancements .monsters_hunted-advancement-icon {
    background-image: url("../img/advancement-icons/Diamond_Sword.webp");
}

.advancements .postmortal-advancement-icon {
    background-image: url("../img/advancement-icons/Totem_of_Undying.webp");
}

.advancements .what_a_deal-advancement-icon {
    background-image: url("../img/advancement-icons/Emerald.webp");
}

.advancements .hired_help-advancement-icon {
    background-image: url("../img/advancement-icons/Carved_Pumpkin.webp");
}

.advancements .star_trader-advancement-icon {
    background-image: url("../img/advancement-icons/Emerald.webp");
}

.advancements .sticky_situation-advancement-icon {
    background-image: url("../img/advancement-icons/Honey_Block.webp");
}

.advancements .ol_betsy-advancement-icon {
    background-image: url("../img/advancement-icons/Crossbow.webp");
}

.advancements .two_birds_one_arrow-advancement-icon {
    background-image: url("../img/advancement-icons/Crossbow.webp");
}

.advancements .whos_the_pillager_now-advancement-icon {
    background-image: url("../img/advancement-icons/Crossbow.webp");
}

.advancements .surge_protector-advancement-icon {
    background-image: url("../img/advancement-icons/Lightning_Rod.webp");
}

.advancements .caves_and_cliffs-advancement-icon {
    background-image: url("../img/advancement-icons/Water_Bucket.webp");
}

.advancements .sneak_100-advancement-icon {
    background-image: url("../img/advancement-icons/Inactive_Sculk_Sensor.webp");
}

.advancements .sweet_dreams-advancement-icon {
    background-image: url("../img/advancement-icons/Red_Bed.webp");
}

.advancements .adventuring_time-advancement-icon {
    background-image: url("../img/advancement-icons/Diamond_Boots.webp");
}

.advancements .sound_of_music-advancement-icon {
    background-image: url("../img/advancement-icons/Jukebox.webp");
}

.advancements .light_as_a_rabbit-advancement-icon {
    background-image: url("../img/advancement-icons/Leather_Boots.webp");
}