body {
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
        width: 75%;
        padding: 50px 10px 50px 10px;
        z-index: 100;
        //animation
        animation-name: float-in;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

    #wheelDiv {
        //position: relative;
        z-index: 100;

    }

    #particles-js {
        top: 0;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -100;
        background-image: url("../resource/home_icons/bg.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* //for gens gradient
        background: rgb(138, 255, 149);
        background-image: -moz-linear-gradient(180deg, rgba(138, 255, 149, 1) 40%, rgba(251, 235, 134, 1) 100%);
        background-image: -webkit-linear-gradient(180deg, rgba(138, 255, 149, 1) 40%, rgba(251, 235, 134, 1) 100%);
        background-image: linear-gradient(180deg, rgba(138, 255, 149, 1) 40%, rgba(251, 235, 134, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8aff95", endColorstr="#fbeb86", GradientType=1);
        */

        //animation
        animation-name: fade-in;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

    #home_footer {
        position: fixed;
        padding: 10px 10px 10px 10px;
        bottom: 0;
        right: 0;
    }


    @keyframes float-in {
        0% {
            transform: translate(0%, 100%);
            opacity: 0%;
        }

        50% {

            opacity: 0%;
        }

        100% {
            transform: translate(0%, 0%);
            opacity: 100%;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }

    }

}