body {
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
        width: 75%;
        padding: 50px 10px 50px 10px;
        z-index: 100;
    }

    #wheelDiv {
        //position: relative;
        z-index: 100;

    }

    #particles-js {
        top: 0;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -100;
        background: rgb(138, 255, 149);
        background-image: -moz-linear-gradient(180deg, rgba(138, 255, 149, 1) 40%, rgba(251, 235, 134, 1) 100%);
        background-image: -webkit-linear-gradient(180deg, rgba(138, 255, 149, 1) 40%, rgba(251, 235, 134, 1) 100%);
        background-image: linear-gradient(180deg, rgba(138, 255, 149, 1) 40%, rgba(251, 235, 134, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8aff95", endColorstr="#fbeb86", GradientType=1);

    }

    #home_footer {
        position: fixed;
        padding: 10px 10px 10px 10px;
        bottom: 0;
        right: 0;
    }

}