////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
/// Main Loader
/// 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////  

$loader-speed: 1.25s;
$loader-curve: ease;

//TODO- Better Naming
//the clip path shape of the loader
@mixin loader-shape {
    -webkit-clip-path: polygon(50% 0%, 75% 25%, 75% 75%, 50% 100%, 25% 75%, 25% 25%);
    clip-path: polygon(50% 0%, 75% 25%, 75% 75%, 50% 100%, 25% 75%, 25% 25%);
}

//loaders attributes
@mixin loader-attr ($top, $left, $color) {
    @include loader-shape();
    position: absolute;
    height: 30%;
    width: 30%;
    top: $top;
    left: $left;
    background-color: $color;
    background: radial-gradient(circle, lighten($color, 25%), $color);
    -webkit-animation: spin-left $loader-speed $loader-curve infinite;
    animation: spin-left $loader-speed $loader-curve infinite;
}

#loader-container {
    position: absolute;
    width: 150px;
    height: 150px;
}

$loader-center-color: #5614ff;
#loader-center {
    @include loader-shape();
    position: absolute;
    top: 75%;
    left: 75%;
    width: 50%;
    height: 50%;
    background-color: $loader-center-color;
    background: radial-gradient(circle, lighten($loader-center-color, 15%), $loader-center-color);
    border-radius: 50%;  
}



#loader-orbit {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    -webkit-animation: spin-right $loader-speed $loader-curve infinite;
    animation: spin-right $loader-speed $loader-curve infinite;
}

#loader-l1 {
    @include loader-attr(-15%, 35%, #ff0000e8);
}

#loader-l2 {
    @include loader-attr(25%, 85%, #ffbf00);
}

#loader-l3 {
    @include loader-attr(75%, 65%, #15ff00);
}

#loader-l4 {
    @include loader-attr(75%, 5%, #0073ff);
}

#loader-l5 {
    @include loader-attr(25%, -15%, #ff32f8);
}

.inner {
    @include loader-shape();
    position: relative;
    top: 15%;
    left: 15%;
    height: 70%;
    width: 70%;
    background: inherit;
    filter:saturate(250%);
}



@keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-left {
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
/// Block Loader
/// 
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////  