$first-page-color: #243C4E;
$first-page-color-text: #D3FBDC;

$second-page-background-color: #edd6be;

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .player-description {
        font-size: 20px;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .player-description {
        font-size: 15px;
    }
}

.test-container {
    background-color: black !important;
}

// Background Slideshow Components
.img-slideshow {
    height: 100vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page-1-section {
    height: 80vh;
}

// Profile Pic Components 
.img-container {
    width: fit-content !important;
}

.img-profile-pic-frame {
    padding: 10px;
    width: fit-content !important;
    background-color: $first-page-color  !important;
    border-radius: 10px !important;
    margin: 20px;
}

.img-profile-pic {
    width: 20vh;
    background-color: #b37640;
    border-radius: 10px;
}


// Player Title Components 
.player-title-container {
    width: fit-content !important;
}

.player-title-card {
    background-color: $first-page-color  !important;
    width: fit-content !important;
    border-radius: 20px !important;
    margin: 20px;
}

.player-title {
    color: $first-page-color-text;
}

.player-doj {
    color: $first-page-color-text;
}

.page-2-section {
    background-color: $second-page-background-color;
}

.card-section {
    margin: 50px;
}

.player-description-card {
    width: 40rem;
    border-radius: 20px !important;
    height: 40vh !important;
}

.player-description {
    color: $first-page-color-text;
    text-align: center !important;
}

.card-1 {
    background-color: #7B7554 !important;
}

.card-2 {
    background-color: #826251 !important;
}

.card-3 {
    background-color: #596223 !important;
}

.page-3-section {
    background-image: url("img/Builds_Page_cover.webp");
    height: 100vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all linear 0.2s;
}

.build-container {
    height: 100vh;
}

.bases-card {
    background-color: $first-page-color  !important;
    width: 30vw;
    height: 15vw !important;
    border-radius: 2vw !important;
    margin: 20px;
    margin-top: 30px;
    color: $first-page-color-text  !important;
}

.bases-title {
    font-size: 3vw;
}

.base-carousel-section {
    margin-top: 1.5vw !important;
}

.base-carousel-item {
    text-align: center;
    font-size: xx-large;
    font-size: 2vw;
}

.shops-card {
    background-color: $first-page-color  !important;
    width: 30vw;
    height: 15vw !important;
    border-radius: 2vw !important;
    margin: 20px;
    margin-top: 30px;
    color: $first-page-color-text  !important;
}

.shops-title {
    font-size: 3vw;
}

.shop-carousel-section {
    margin-top: 1.5vw !important;
}

.shop-carousel-item {
    text-align: center;
    font-size: xx-large;
    font-size: 2vw;
}

a {
    text-decoration: none !important;
    color: $first-page-color-text  !important;
}