 #piemenu>svg {
     width: 100%;
     height: 100%;
 }

 #piemenu {
     height: 400px;
     width: 400px;
     margin: -200px 0 0 -200px;
     position: absolute;
     top: 50%;
     left: 50%;   
 }

 @media (max-width: 400px) {
     #piemenu {
         height: 300px;
         width: 300px;
     }
 }

 [class|=wheelnav-piemenu-slice-basic] {
     fill: #497F4C;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-selected] {
     fill: #497F4C;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-hover] {
     fill: #497F4C;
     stroke: none;
     fill-opacity: 0.77;
     cursor: pointer;
 }

 [class|=wheelnav-piemenu-title-basic] {
     fill: #333;
     stroke: none;
 }

 [class|=wheelnav-piemenu-title-selected] {
     fill: #fff;
     stroke: none;
 }

 [class|=wheelnav-piemenu-title-hover] {
     fill: #222;
     stroke: none;
     cursor: pointer;
 }

 .wheelnav-piemenu-spreader-in,
 .wheelnav-piemenu-spreader-out {
     fill: #444;
     stroke: #444;
     stroke-width: 2;
     cursor: pointer;
 }

 .wheelnav-piemenu-spreadertitle-in,
 .wheelnav-piemenu-spreadertitle-out {
     fill: #eee;
     stroke: #444;
     cursor: pointer;
 }

 .wheelnav-piemenu-marker {
     stroke: #444;
     stroke-width: 2;
 }