 #piemenu>svg {
     width: 100%;
     height: 100%;
 }

 #piemenu {
     height: 600px;
     width: 600px;
     margin: -300px 0 0 -300px;
     position: absolute;
     top: 50%;
     left: 50%;
 }

 @media (max-width: 400px) {
     #piemenu {
         height: 300px;
         width: 300px;
     }
 }

 [class|=wheelnav-piemenu-slice-basic-0] {
     fill: #ffff7d;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-basic-1] {
     fill: #ff7eff;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-basic-2] {
     fill: #ff5757;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-basic-3] {
     fill: #ffac71;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-basic-4] {
     fill: #a05bff;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-basic-5] {
     fill: #6a9eff;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-selected] {
     fill: #c4ffc4;
     stroke: none;
 }

 [class|=wheelnav-piemenu-slice-hover] {
     fill: #a6ffab;
     stroke: none;
     fill-opacity: 0.77;
     cursor: pointer;
 }

 [class|=wheelnav-piemenu-title-basic] {
     fill: #333;
     stroke: none;
 }

 [class|=wheelnav-piemenu-title-selected] {
     fill: #fff;
     stroke: none;
 }

 [class|=wheelnav-piemenu-title-hover] {
     fill: #222;
     stroke: none;
     cursor: pointer;
 }

 .wheelnav-piemenu-spreader-in,
 .wheelnav-piemenu-spreader-out {
     fill: #444;
     stroke: #444;
     stroke-width: 2;
     cursor: pointer;
 }

 .wheelnav-piemenu-spreadertitle-in,
 .wheelnav-piemenu-spreadertitle-out {
     fill: #eee;
     stroke: #444;
     cursor: pointer;
 }

 .wheelnav-piemenu-marker {
     stroke: #444;
     stroke-width: 2;
 }