<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Welcome to Le World After">
  <meta name="author" content="LWA group">

  <title>Welcome to Le World After</title>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  <script type="text/javascript" src="resource/raphael.min.js"></script>
  <script type="text/javascript" src="resource/raphael.icons.min.js"></script>
  <script type="text/javascript" src="resource/wheelnav.min.js"></script>

  <!-- TODO refactor this to it's own script and then to resource folder-->>
  <script type="text/javascript">

    window.onload = function () {
      var piemenu = new wheelnav('piemenu');
      piemenu.spreaderInTitle = icon.plus;
      piemenu.spreaderOutTitle = icon.cross;
      piemenu.spreaderRadius = piemenu.wheelRadius * 0.13;
      piemenu.wheelRadius = piemenu.wheelRadius * 0.83;
      piemenu.animatetime = 250;
      piemenu.animateeffect = 'back-out';
      piemenu.createWheel();

    };

  </script>

  <link rel="stylesheet" type="text/css" href="resource/piemenu.css"/>

<body>
  <div id="wheelDiv"></div>
  <div id='piemenu' data-wheelnav data-wheelnav-slicepath='PieSlice' data-wheelnav-spreader
    data-wheelnav-spreaderpath='LineSpreader' data-wheelnav-marker data-wheelnav-markerpath='PieLineMarker'
    data-wheelnav-rotateoff data-wheelnav-navangle='270' data-wheelnav-titleheight='40' data-wheelnav-cssmode
    data-wheelnav-init>
    <div data-wheelnav-navitemicon='check'>Players</div>
    <div data-wheelnav-navitemimg='http://pmg.softwaretailoring.net/img/pmg_favicon.png'>Map</div>
    <div data-wheelnav-navitemicon='checkbox'>Builds</div>
    <div data-wheelnav-navitemicon='checked'>Shopping</div>
    <div data-wheelnav-navitemicon='star'>Entertainment</div>
    <div data-wheelnav-navitemicon='icons'>Something</div>
  </div>

</body>


</head>