<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Welcome to Le World After">
  <meta name="author" content="LWA group">
  <link rel="stylesheet" href="{{ get_url(path="home.css", trailing_slash=false) }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 

  <title>Welcome to Le World After</title>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  <script type="text/javascript" src="resource/wheelnav-js/raphael.min.js"></script>
  <script type="text/javascript" src="resource/wheelnav-js/raphael.icons.min.js"></script>
  <script type="text/javascript" src="resource/wheelnav-js/wheelnav.min.js"></script>

  <!-- TODO refactor this to it's own script and then to resource folder-->
  <script type="text/javascript">

    window.onload = function () {
      var piemenu = new wheelnav('piemenu');
      piemenu.spreaderInTitle = icon.plus;
      piemenu.spreaderOutTitle = icon.cross;
      piemenu.spreaderRadius = piemenu.wheelRadius * 0.13;
      piemenu.wheelRadius = piemenu.wheelRadius * 1;
      piemenu.animatetime = 250;
      piemenu.animateeffect = 'back-out';
      piemenu.createWheel();

    };

  </script>

  <link rel="stylesheet" type="text/css" href="resource/wheelnav-js/piemenu.css" />

  <style>
    #wheelDiv {
      position: relative;
      z-index: 100;
      
    }

    #particles-js {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: -100;
    }
  </style>

</head>

<body>
  <div id="particles-js" class="bg"></div>
  <div id="wheelDiv" class="fg"></div>
  <div id='piemenu' data-wheelnav data-wheelnav-slicepath='PieSlice' data-wheelnav-spreader
    data-wheelnav-spreaderpath='LineSpreader' data-wheelnav-marker data-wheelnav-markerpath='PieLineMarker'
    data-wheelnav-rotateoff data-wheelnav-navangle='270' data-wheelnav-titleheight='40' data-wheelnav-cssmode
    data-wheelnav-init>

    <div data-wheelnav-navitemtext="Players"><a href="{{ get_url(path="@/players/_index.md") }}"></a></div>
    <div data-wheelnav-navitemimg='http://pmg.softwaretailoring.net/img/pmg_favicon.png'></div>
    <div data-wheelnav-navitemicon='checkbox'></div>
    <div data-wheelnav-navitemicon='checked'></div>
    <div data-wheelnav-navitemicon='star'></div>
    <div data-wheelnav-navitemicon='icons'></div>

  </div>
  <script src="resource/particles-js/particles.js"></script>
  <script src="resource/particles-js/app.js"></script>

</body>