<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ get_url(path="loader.css", trailing_slash=false) }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Le World After</title>
</head>

<body>
    <div id=loader-container>
        <div id=loader-orbit>
          <div id=loader-l1></div>
          <div id=loader-l2></div>
          <div id=loader-l3></div>
          <div id=loader-l4></div>
          <div id=loader-l5></div>
        </div>
      </div>
</body>

